:root {
    --example-variable: green;
}

html, body {
    padding: 0px;
    margin: 0px;
}

.loadState {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: lightgrey;
    color: #777;
    font-size: 1.2rem;
    width: 120px;
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 20px;

    .btns {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        .save, .load {
            margin-top: 10px;
            background: #777;
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            transition: background 0.2s;

            &:hover {
                background: #222;
            }
        }
    }
}